################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bitcoin.se-public.sln
/.vs/config/applicationhost.config
/.vs/bitcoin.se-public/v15
